ReportingEngine Lite/Reporting/SimpleXls/SimpleXlsTemplateSettings.xsd

<?xml version="1.0" encoding="utf-8" ?>
<?extension Tools.VisualStudioT.GeneratorsT.XsdGenerator.Extensions.NoEmptyRemarks?>
<?extension Tools.VisualStudioT.GeneratorsT.XsdGenerator.Extensions.OnChangingCall?>
<?extension "Tools.VisualStudioT.GeneratorsT.XsdGenerator.Extensions.RemoveTypeAttribute" type="System.Diagnostics.DebuggerStepThroughAttribute"?>
<?extension "Tools.VisualStudioT.GeneratorsT.XsdGenerator.Extensions.AlterProperty" TypeName="SimpleXlsSettings" PropertyName="NameColumn" OrAttributes="4"?>
<?extension "Tools.VisualStudioT.GeneratorsT.XsdGenerator.Extensions.AlterProperty" TypeName="RepeatedXlsSettings" PropertyName="NameColumn1" NewName="NameColumn" AndAttributes="-275" OrAttributes="4"?>
<xs:schema id="SimpleXlsTemplateSettings"
                  targetNamespace="urn:eos-ksi/KolUni/Reporting/SimpleXls"
                  elementFormDefault="qualified"
                  xmlns="urn:eos-ksi/KolUni/Reporting/SimpleXls"
                  xmlns:xls="urn:eos-ksi/KolUni/Reporting/SimpleXls"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SimpleXlsSettings" type="SimpleXlsSettings">
        <xs:annotation>
            <xs:documentation>Nastavení šablony SimpleXlsTemplate</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="SimpleXlsSettings">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="PostProcessingCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>VB.NET kód, který se provede po exportu. Kód je zavřen do funkce a funkci je předán argument WorkBook.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="List" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>List, kna který budou data zapsána - název nebo číslo (1-based)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Row1" type="RowNum" use="optional" default="2">
            <xs:annotation>
                <xs:documentation>Číslo řádku, kde začne zápis data (1-based)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Col1" type="ColNum" use="optional" default="1">
            <xs:annotation>
                <xs:documentation>Číslo sloupce, kde začne zápis dat (1-based)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SkipFilled" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Přeskočit předvyplněné sloupce (pro všechny řádky se určí podle řádku Row1)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="InsertRows" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Řádky budou vkládány, místo aby byly přepisovány. Umožňuje zachovat zápatí.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ColumnNameRow" use="optional" default="0" type="RowNum0">
            <xs:annotation>
                <xs:documentation>Číslo řádku, kam se mají vkládat názvy sloupců (tak jak je vrátí databáze; 1-based; 0 a nezapíší se nikam). Názvy sloupoců jsou zapsány před zápisem dat.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SkipFilledNames" use="optional" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Nezapisovat název sloupce, pokud je příslušná buňka již vyplněna.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AutoWidth" use="optional" default="">
            <xs:annotation>
                <xs:documentation>
                    Sloupce u nichž má být nastavena automatická šířka.
                    1-based indexy v rámci listu.
                    Seznam oddělený šárkou, možno používat rozsahy, poslední rozsah může být otevřený.
                    Např.: 1,6,15-20,22-
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value ="()|(\d+(-\d+)?(,\d+(-\d+)?)*(,\d+-)?)|(\d+-)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="PrintArea" use="optional" default="">
            <xs:annotation>
                <xs:documentation>
                    Nastavení oblasti tisku ve formátu x1-x2;y1-y2.
                    Absolutní čísla jsou 1-based indey v rámci listu, relativní čísla jsou 0-based offsety.
                    x1 se vztahuje k 1. vyplňovanému sloupci, x2 k poslednímu vyplňovanému sloupci, y1 k prvnímu vyplňovanému řádku, y2 k poslednímu vyplňovanému řádku.
                    Prázdné - oblast tisku nebude změněna oproti šabloně.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="()|([+-]?\d+;[+-]?\d+-[+-]?\d;+[+-]?\d+)"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="CopyColumnsFrom" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>1-based index sloupce (v Excelu) od nějž budou sloupce kopírovány (levý do pravého). 0 - nebudou kopírovány vůbec.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SkipColumns" use="optional" default="">
            <xs:annotation>
                <xs:documentation>
                    Čárkou oddělený seznam názvů sloupců (z databáze)., které budou vynechány při výpisu do Excelu.
                    Pokud se z nějakých exotických důvodů vyskytuje v názvu sloupce čárka (,) nahraďte ji pipou (|); pipu (|) nahraďte dvěma (||).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NameColumn" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:documentation>Sloupce podle něhož bude nastaven název listu (nebo nic)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="NameFormat" type="xs:string" use="optional" default="{0}">
            <xs:annotation>
                <xs:documentation>Formátovací řetězec pro název listu. {0} bude nahrazeno hodnotou NameColumn.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SelectList" type="xs:string" use="optional" default="">
            <xs:annotation>
                <xs:documentation>Název nebo index (1-based) listu, který bude vybrán po dokončení.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SuspendRecalculations" type="xs:boolean" use="optional" default="false">
            <xs:annotation>
                <xs:documentation>Pozastavit přepočítávání vzorců během vyplňování listu?</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RunMacroAfter" type="xs:token" use="optional">
            <xs:annotation>
                <xs:documentation>Spustit zadané makro po exportu.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:simpleType name="RowNum">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="65536"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ColNum">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RowNum0">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="65536"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="RepeatedXlsSettings" type="RepeatedXlsSettings">
        <xs:annotation>
            <xs:documentation>Nastavení šablony opakovaného XMLS</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="RepeatedXlsSettings">
        <xs:complexContent>
            <xs:extension base="SimpleXlsSettings">
                <xs:attribute name="BreakColumn" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Sloupec podle kterého jsou rozdělovány listy. Vždy když se hodnota v tomto sloupci změní je založen nový list.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="WriteBreak" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Zapisovat do tabulky BreakColumn?</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="NameColumn" type="xs:string" use="optional" >
                    <xs:annotation>
                        <xs:documentation>Sloupec obsahující názvy listů</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="WriteName" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Zapisovat do tabulky NameColumn?</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
